In [1]:
import sys
sys.path.append('../')
from data_access import read_in_data, read_llm_output_data, read_output_data
import pandas as pd
import os
# import xlsxwriter
# api key:
# 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

In [5]:
name_list = ["craigslist_data_wrangler", "crime_data_wrangler", "potters_wheel_divide", "potters_wheel_fold" ,
                     "potters_wheel_fold_2", "potters_wheel_merge_split", "potters_wheel_split_fold", "potters_wheel_unfold", 
                      "potters_wheel_unfold2", "proactive_wrangling_fold", "proactive_wrangling_complex", "reshape_table_structure_data_wrangler"]# 
missing_list = [9, 14, 16, 20, 21, 23, 25, 31, 32, 35, 38, 39, 42,50]

In [2]:
import shutil
import os

In [37]:
dest_folder = './error/'
source_path = '../output/'
model = 'Llama2-7b-chat-hf/'
def calculate_acc():
    acc = []
    for j in [6,18,24,29,34,41]:
        if j in missing_list:
            continue
        # if j in [30]:
        #     acc.append([0,0,j])
        #     continue

        acc_1_5 = [0,0,j]
        for i in range(1,6): 
            if[j,i] in[[]] or j in [5,8,22,41]:
                acc.append([0,0,j])
            else:
                print(j,i)

                path = '../data/foofah/foofah/exp0_'+str(j) + '_'+ str(i)+ '.txt'
                input_data, test_data = read_in_data(path)
                input_path = source_path+model+'foofah/output_data_0_'+str(j) + '_'+ str(i)+ '.json'
                # llama70 = read_llm_output_data(input_path)
                #gpt_3_5 = read_llm_output_data('../output/Llama-2-13b-chat-hf/foofah/output_data_0_5_4.json')
                gpt_4_0 = read_llm_output_data('../output/chat_gpt_3.5/foofah/new_output_data_0_'+str(j) + '_'+ str(i)+ '.json')
                # if os.path.isfile('../output/foofah/foofah/exp0_results_'+str(j) + '_'+ str(i)+ '.txt'):
                #     foofah = read_output_data('../output/foofah/foofah/exp0_results_'+str(j) + '_'+ str(i)+ '.txt')
                # else:
                #     foofah = [[]]
                for p, output_data in enumerate([gpt_4_0]):
                #compare output_data and test_data
                    acc_temp = 0
                        # print(j,i)
                    for k in range(min(len(output_data),len(test_data[1]))):
                        for m in range(min(len(output_data[k]),len(test_data[1][k]))):
                            if output_data[k][m] == test_data[1][k][m]:
                                acc_temp += 1
                    test_case_acc = acc_temp/(len(test_data[1])*len(test_data[1][0]))
                    # if test_case_acc < 0.3:
                    #     output_path = dest_folder+model+'foofah/'
                    #     if not os.path.exists(output_path):
                    #         os.makedirs(output_path)
                    #     shutil.copy(input_path, output_path)
                    acc_1_5[p] += (acc_temp/(len(test_data[1])*len(test_data[1][0])))/5
                    acc_1_5[1] = max(acc_1_5[1], acc_temp/(len(test_data[1])*len(test_data[1][0])))
 

        acc.append(acc_1_5)
    return(acc)

In [38]:
acc = calculate_acc()
acc

6 1
6 2
6 3
6 4
6 5
18 1
18 2
18 3
18 4
18 5
24 1
24 2
24 3
24 4
24 5
29 1
29 2
29 3
29 4
29 5
34 1
34 2
34 3
34 4
34 5

[[0.5733333333333333, 1.0, 6],
 [0.4543492063492064, 0.7428571428571429, 18],
 [0.14166666666666666, 0.25, 24],
 [0.04592592592592592, 0.1111111111111111, 29],
 [0.5977777777777777, 1.0, 34],
 [0, 0, 41],
 [0, 0, 41],
 [0, 0, 41],
 [0, 0, 41],
 [0, 0, 41],
 [0, 0, 41]]

In [39]:
read_llm_output_data('../output/Llama-2-7b-chat-hf/foofah/output_data_0_6_1.json')

[['9/1/2008', '9/2/2008', '9/3/2008'],
 ['', ''],
 ['Product2', '3', '5', '10'],
 ['Product3', '0', '1', '4'],
 ['Product4', '1', '0', '0'],
 ['Product5', '3', '8', '7'],
 ['Product6', '9', '2', '1']]

In [1346]:
df = pd.DataFrame(acc)
df.to_excel('acc_llama70.xlsx')

### Llama 7b chat

In [719]:
llama2_7b_chat_acc = acc
llama2_7b_chat_acc

NameError: name 'acc' is not defined

In [215]:
sum(llama2_7b_chat_acc)/len(llama2_7b_chat_acc)

0.2388125724260178

### Chat GPT Accuracy 3.5 turbo

In [8]:
chat_gpt_acc = acc
chat_gpt_acc

[0.030612244897959183,
 0.42857142857142855,
 0.42857142857142855,
 0.42857142857142855,
 0.42857142857142855,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.03571428571428571,
 0.18681318681318682,
 0.13690476190476192,
 1.0,
 1.0,
 0.06666666666666667,
 0.0,
 0.3333333333333333,
 0.0,
 0.3333333333333333,
 0.0,
 0.058823529411764705,
 0.11764705882352941,
 0.11764705882352941,
 0.11764705882352941]

In [157]:
sum(chat_gpt_acc)/len(chat_gpt_acc)

0.34164760776105313

In [1700]:
import pandas as pd
# /Users/savannazhang/Desktop/data_trans/output/Llama-2-13b-chat-hf/prose/output_chat_llama2_prose.csv
# Load CSV file
df = pd.read_csv('../output/mistral/prose/mistral_prose.csv',on_bad_lines='skip')

# Sort the DataFrame
sorted_df = df.sort_values(by='data', ascending=True)

# Save the sorted DataFrame to a new CSV file
sorted_df.to_csv('../output/mistral/prose/mistral_prose.csv', index=False)

### Copy code and run

In [45]:
import json

In [393]:
i = 'potters_wheel_unfold'
j = 5

#### update i j

In [469]:
name_list = ["craigslist_data_wrangler", "crime_data_wrangler", "potters_wheel_divide", "potters_wheel_fold" ,
                     "potters_wheel_fold_2", "potters_wheel_merge_split", "potters_wheel_split_fold", "potters_wheel_unfold", 
                     "potters_wheel_unfold2", "proactive_wrangling_fold", "proactive_wrangling_complex", "reshape_table_structure_data_wrangler"]

In [694]:
idx = 0
j = 0
i = name_list[idx]

In [191]:
j += 1
if j == 6:
    j = 1
    idx += 1
    i = name_list[idx]
print(i,j)

reshape_table_structure_data_wrangler 5

### LLM code

In [99]:
j += 1
if j == 6:
    j = 1
    i += 1
print(i,j)

37 1

In [460]:
import random
def transform_data(data):
    transformed_data = []
    for item in data:
        phone_number = item.split('-')[2]
        integer_part = int(phone_number[:4])
        transformed_data.append(integer_part)
    return transformed_data

In [461]:
x = 'ZipCode.000002'
# 2021!!!!

In [ ]:

path = '../data/foofah/Transformation.Text/'+ x+ '.txt'
input_data, test_data = read_in_data(path)
r = transform_data(test_data[0])
with open('../output/Llama2-70b-chat-hf/prose/output_'+x+'.json', "w") as file: 
    json.dump(r, file)

In [40]:
with open('../output/Llama2-70b-chat-hf/prose/output_'+x+'.json', "w") as file: 
    json.dump([], file)

In [9]:
import json

### Save data to chatgpt

In [1621]:
with open('../output/Llama-2-13b-chat-hf/prose/output_'+x+'.json', "w") as file: 
    json.dump([[]], file)

In [399]:
path = '../data/foofah/foofah/exp0_'+ str(2) + '_'+ str(3) + '.txt'
input_data, test_data = read_in_data(path)

In [ ]:
import pandas
path = "../output/Llama-2-7b-chat-hf/foofah/output_chat_llama2.csv"
df = pandas.read_csv(path)
df

### Save data to LLAma

In [ ]:
name_list =["craigslist_data_wrangler", "crime_data_wrangler", "potters_wheel_divide", "potters_wheel_fold" ,
                     "potters_wheel_fold_2", "potters_wheel_merge_split", "potters_wheel_split_fold", "potters_wheel_unfold",
                     "potters_wheel_unfold2", "proactive_wrangling_fold", "proactive_wrangling_complex", "reshape_table_structure_data_wrangler"]

In [1108]:
idx = 0
ii = name_list[idx]
jj = 1

In [1305]:
jj += 1
if jj == 6:
    jj = 1
    idx += 1
    ii = name_list[idx]

# jj += 1
# if jj == 6:
#     ii += 1
#     jj = 1
print(ii,jj)

reshape_table_structure_data_wrangler 5

In [1306]:
def transform_data(data):
    # Convert data to a dictionary
    data_dict = {}
    for row in data:
        data_dict[row[0]] = row[1:]

    # Sort the data by year and month
    sorted_data = sorted(data_dict.items(), key=lambda x: (x[0][0], x[0][1]))

    # Create a new list with the transformed data
    transformed_data = []
    for year, month, value in sorted_data:
        transformed_data.append([year, month, value])

    return transformed_data

In [1307]:
# jj += 1
# if jj == 6:
#     jj = 1
#     ii += 1
# print(ii,jj)
path = '../data/foofah/foofah/exp0_'+ str(ii) + '_'+ str(jj) + '.txt'
input_data, test_data = read_in_data(path)
r = transform_data(test_data[0])
# r = transform_data(test_data[0])
# r = d()
with open('../output/Llama2-70b-chat-hf/foofah/output_'+str(ii) + '_'+ str(jj)+'.json', "w") as file: 
    json.dump(r, file)

ValueError: not enough values to unpack (expected 3, got 2)

In [1308]:
import json
#r = transform_data(test_data[0])
with open('../output/Llama2-70b-chat-hf/foofah/output_'+str(ii) + '_'+ str(jj)+'.json', "w") as file: 
    json.dump([[]], file)

### Mistral

In [736]:
idx = 0
j = 1
i = name_list[idx]

In [925]:
j += 1
if j == 6:
    j = 1
    idx += 1
    i = name_list[idx]
print(i,j)

reshape_table_structure_data_wrangler 5

In [923]:
def data_transformation(input_dataset):
    output_dataset = [[''] + [str(i) for i in range(1, 7)]]
    current_year = None
    current_row = []
    for record in input_dataset:
        year, month, value = record
        if year != current_year:
            if current_year is not None:
                output_dataset.append(current_row)
            current_year = year
            current_row = [year]
        current_row.append(value)
    output_dataset.append(current_row)
    return output_dataset

In [100]:
print(i,j)

4 1

In [926]:
path = '../data/foofah/foofah/exp0_'+ str(i) + '_'+ str(j) + '.txt'
input_data, test_data = read_in_data(path)
# r = transform_data(pd.DataFrame(test_data[0]))
r = data_transformation(test_data[0])
# r = d()
with open('../output/mistral/foofah/output_data_0_'+str(i) + '_'+ str(j)+'.json', "w") as file: 
    json.dump(r, file)

In [907]:
with open('../output/mistral/foofah/output_data_0_'+str(i) + '_'+ str(j)+'.json', "w") as file: 
    json.dump([[]], file)

### ACC save to file

In [733]:
with open('../output/mistral/accuracy_foofah.json', "w") as file: 
    json.dump(acc, file)

In [252]:
path = '../data/foofah/foofah/exp0_37_5.txt'
input_data, test_data = read_in_data(path)

### Prose dataset

In [ ]:
path = '../data/foofah/prose/exp0_'+ str(i) + '_'+ str(j) + '.txt'
input_data, test_data = read_in_data(path)
# r = transform_data(pd.DataFrame(test_data[0]))
r = data_transformation(test_data[0])
# r = d()
with open('../output/mistral/foofah/output_data_0_'+str(i) + '_'+ str(j)+'.json', "w") as file: 
    json.dump(r, file)

In [ ]:
/Users/savannazhang/Desktop/data_trans/output/chat_gpt_3.5/prose/output_BillingCode.000002.json

In [467]:
import os
import json 
acc = []
visited_file = []
folder_path = "../data/foofah/Transformation.Text/"
answer_path = "../output/Llama2-70b-chat-hf/prose/"
for sub_file in os.listdir(answer_path):
    print(sub_file)
    if sub_file not in [ '.DS_Store','output_chat_llama2_70_prose.csv','output_Phone.000003.json','output_Gender.000001.json','output_Gender.000002.json']:
       
        temp_sub_file = sub_file.split("_")
        temp_sub_file = temp_sub_file[1]
        print(temp_sub_file[:-5])

        visited_file.append(sub_file)
        file_path = "../data/foofah/Transformation.Text/"+temp_sub_file[:-5]+ '.txt'
        input_data, test_data =read_in_data(file_path)
        answer_path = "../output/Llama2-70b-chat-hf/prose/"+sub_file

        with open(answer_path, 'rb') as f:
            output_data = json.load(f)

        # Calculate accuracy
        if output_data:
            acc_temp = 0
                    # print(j,i)
            for k in range(min(len(output_data),len(test_data[1]))):
                for j in range(min(len(output_data[k]),len(test_data[1][k]))):
                    if output_data[k][j] == test_data[1][k][j]:
                        acc_temp += 1
            acc.append([temp_sub_file, acc_temp/max(len(output_data),len(test_data[1]))])
        else:
            acc.append([temp_sub_file,0])

output_Address.000008.json
Address.000008
output_Author.000001.json
Author.000001
output_Number.000028.json
Number.000028
output_Word.000001.json
Word.000001
output_Address.000004.json
Address.000004
output_Honorific.000001.json
Honorific.000001
output_Meteorite.000001.json
Meteorite.000001
output_Number.000044.json
Number.000044
.DS_Store
output_Number.000005.json
Number.000005
output_Name.000030.json
Name.000030
output_Address.000009.json
Address.000009
output_Phone.000001.json
Phone.000001
output_EmergencyCall.000004.json
EmergencyCall.000004
output_Address.000002.json
Address.000002
output_Name.000021.json
Name.000021
output_Gender.000001.json
output_Number.000034.json
Number.000034
output_EmergencyCall.000003.json
EmergencyCall.000003
output_Phone.000006.json
Phone.000006
output_ShippingCode.000008.json
ShippingCode.000008
output_Name.000020.json
Name.000020
output_BillingCode.000003.json
BillingCode.000003
output_chat_llama2_70_prose.csv
output_Name.000023.json
Name.000023
output_Airline.000002.json
Airline.000002
output_Phone.000004.json
Phone.000004
output_Name.000015.json
Name.000015
output_Gender.000002.json
output_Phone.000005.json
Phone.000005
output_ShippingCode.000007.json
ShippingCode.000007
output_Phone.000002.json
Phone.000002
output_Name.000013.json
Name.000013
output_Language.000001.json
Language.000001
output_Name.000025.json
Name.000025
output_Name.000033.json
Name.000033
output_Abbreviation.000001.json
Abbreviation.000001
output_Name.000012.json
Name.000012
output_Phone.000003.json

In [468]:
import pandas as pd
df = pd.DataFrame(acc)
df.to_excel('acc_llama2-70_p.xlsx')

In [49]:
path = '../data/foofah/foofah/exp0_'+str(4) + '_'+ str(3)+ '.txt'
input_data, test_data = read_in_data(path)

In [27]:
import json
with open(path, 'rb') as f:
    output_data = json.load(f)

In [50]:
def transform_table(input_table):
    output_table = []
    
    for row in input_table:
        car, color, price = row
        output_table.append([car, color])
        output_table.append([car, price])
    
    return output_table

In [52]:
input_data

[[['Toyota', 'White', '2000'],
  ['Nissan', 'Red', '4000'],
  ['Honda', 'Black', '1000']],
 [['Toyota', 'White'],
  ['Toyota', '2000'],
  ['Nissan', 'Red'],
  ['Nissan', '4000'],
  ['Honda', 'Black'],
  ['Honda', '1000']]]

In [53]:
transform_table(input_data[0])

[['Toyota', 'White'],
 ['Toyota', '2000'],
 ['Nissan', 'Red'],
 ['Nissan', '4000'],
 ['Honda', 'Black'],
 ['Honda', '1000']]

In [28]:
def transform_data(input_list):
    # Step 1: Extract the first two elements of each list (ID and Type)
    id_type_list = [item[:2] for item in input_list]
    
    # Step 2: Convert the third element (Description) to lowercase
    desc_list = [item[2].lower() for item in input_list]
    
    # Step 3: Remove empty strings from the list
    cleaned_list = [item for item in desc_list if item!= '']
    
    # Step 4: Join the ID, Type, and Description into a single string
    transformed_list = [f"{id_type_list[0]}{id_type_list[1]}{cleaned_list[0]}" for item in input_list]
    
    return transformed_list

[[['011/2010-11',
   '5/3/2010',
   'TT-501',
   'FG-011',
   'DD 1004053',
   '0.851',
   'RM 36',
   '4718',
   'RM 0908081',
   '26',
   'RM 20',
   '2538.25',
   'RM 0815283',
   '26',
   'RM 16',
   '75',
   'RM 0915258',
   '26',
   'RM 12',
   '37.5',
   'RM 0909113',
   '26',
   'RM 15',
   '2.25',
   'RM 0804010',
   '26',
   'RM 27',
   '90',
   'RM 0913217',
   '26',
   'RM 32',
   '37.5',
   'RM 0911174',
   '26',
   'RM 43',
   '1.5',
   'Err:512',
   'Err:512',
   'Err:512',
   'Err:512',
   'Err:512',
   'Err:512']],
 [['011/2010-11',
   '5/3/2010',
   'TT-501',
   'FG-011',
   'DD 1004053',
   '0.851',
   'RM 36',
   '4718',
   'RM 0908081',
   '26'],
  ['011/2010-11',
   '5/3/2010',
   'TT-501',
   'FG-011',
   'DD 1004053',
   '0.851',
   'RM 20',
   '2538.25',
   'RM 0815283',
   '26'],
  ['011/2010-11',
   '5/3/2010',
   'TT-501',
   'FG-011',
   'DD 1004053',
   '0.851',
   'RM 16',
   '75',
   'RM 0915258',
   '26'],
  ['011/2010-11',
   '5/3/2010',
   'TT-501',
   'FG-011',
   'DD 1004053',
   '0.851',
   'RM 12',
   '37.5',
   'RM 0909113',
   '26'],
  ['011/2010-11',
   '5/3/2010',
   'TT-501',
   'FG-011',
   'DD 1004053',
   '0.851',
   'RM 15',
   '2.25',
   'RM 0804010',
   '26'],
  ['011/2010-11',
   '5/3/2010',
   'TT-501',
   'FG-011',
   'DD 1004053',
   '0.851',
   'RM 27',
   '90',
   'RM 0913217',
   '26'],
  ['011/2010-11',
   '5/3/2010',
   'TT-501',
   'FG-011',
   'DD 1004053',
   '0.851',
   'RM 32',
   '37.5',
   'RM 0911174',
   '26'],
  ['011/2010-11',
   '5/3/2010',
   'TT-501',
   'FG-011',
   'DD 1004053',
   '0.851',
   'RM 43',
   '1.5',
   'RM 0908084',
   '26'],
  ['011/2010-11',
   '5/3/2010',
   'TT-501',
   'FG-011',
   'DD 1004053',
   '0.851',
   'Err:512',
   'Err:512',
   'Err:512',
   'Err:512']]]